<div class="card">
    <div class="card-header bg-primary">
        {{headerTitle}}
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>

<!-- <ng-content></ng-content> perfaqeson te gjith tabelen:  -->
<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Name</th>
            <th>Contact</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Sachin</td>
            <td>9988776655</td>
            <td>Mumbai</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Saurabh</td>
            <td>77664557885</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rahul</td>
            <td>567567567</td>
            <td>Bhopal</td>
        </tr>
    </tbody>
</table> -->
<!-- sepse ne jemi mesur ta shtojme tabelen ketu ne ta therasim kete komponent te prindi ne kete mebyre: "  <app-my-card [headerTitle]="'Student List'"> </app-my-card> " -->
<!-- kurse ne kete raste e kemi:    <ng-content></ng-content> -->